* {
	box-sizing: border-box;
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;

	height: 100vh;
	margin: 0;

	display: flex;
	flex-direction: column;

	background-color: #eee;
}

header.container {
	width: 100%;
	height: 30rem;
	display: flex;
	flex-direction: column;

	box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 0.3);
}

header.container .navbar {
	width: 100%;
	padding-block: 1rem;

	display: flex;
	justify-content: space-around;
	margin-inline: auto;

	background-color: #7eacb5;
}

header.container .navbar img {
	height: 3rem;
}

header.container .navbar .nav-list ul {
	display: flex;
	gap: 2rem;
}

header.container .navbar .nav-list li {
	list-style-type: none;
}

header.container .navbar .nav-list li a {
	text-decoration: none;
	color: white;
	transition: all 0.2s ease-in-out;
}

header.container .navbar .nav-list li:hover a {
	color: #bce0e7;
}

header.container .jumbotron {
	width: 100%;
	height: 100%;
	margin-inline: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #a2cbd3;
}

header.container .jumbotron h1,
h2 {
	margin: 0;
	color: white;
	font-size: 3rem;
}

main {
	width: 1200px;
	padding-block: 3rem;
	margin-inline: auto;

	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

main .content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

main .content .card {
	padding: 1rem;
	border-radius: 28px;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	background-color: white;
}

main .content .card img {
	width: 400px;
	height: 448px;
	object-fit: cover;
	border-radius: 12px;
}

main .content .card .card-typography span {
	font-size: 2rem;
	font-weight: 600;
	color: black;
}

main aside .about-us img {
	width: 352px;
	height: 189px;
}
